{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary nav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'ShopApp/images/KZLogo2.png' %}"
                 id="brand"
                 alt="brand-logo">
        </a>
        <form class="d-flex" role="search" action="{% url 'search' %}">
            {% csrf_token %}
            <select class="form-select-sm search-select" id="brand" name="brand">
                <option value="All Brands">All Brands</option>
                <option value="samsung">samsung</option>
                <option value="vivo">vivo</option>
                <option value="hp">hp</option>
                <option value="asus">asus</option>
                <option value="apple">apple</option>
                <option value="sony">sony</option>
                {% comment %} {% for year in years %}<option value="{{ year }}">{{ year }}</option>{% endfor %} {% endcomment %}
            </select>
            <input class="form-control me-2 search-width"
                   type="search"
                   placeholder="Search KZ Electronics Store"
                   aria-label="Search"
                   id="searchWord"
                   name="searchWord">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                {% if user.is_anonymous %}
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                {% endif %}
                <a id="storePages" class="nav-link" href="{% url 'store' %}">Store</a>
                <a class="nav-link admin-view" href="{% url 'product' %}">Products</a>
                <a class="nav-link admin-view" href="{% url 'customer' %}">Customers</a>
                <a class="nav-link admin-view" href="{% url 'order' %}">Orders</a>
                <div class="d-flex flex-row">
                    <a class="nav-link" href="{% url 'cart' %}">Cart
                        <img id="cart-icon"
                             alt="cart-icon"
                             src="{% static 'ShopApp/images/cart.png' %}">
                        <span id="cart-total"><sup id="cart-total">{{ cartItems }}</sup></span>
                    </a>
                </div>
                {% if user.is_superuser %}
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-link" href="{% url 'index' %}">Login</a>
                {% endif %}
                {% comment %} <a class="nav-link disabled">Disabled</a> {% endcomment %}
            </div>
        </div>
    </div>
</nav>
