{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary nav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'ShopApp/images/KZLogo2.png' %}"
                 id="brand"
                 alt="brand-logo">
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                <a class="nav-link" href="{% url 'product' %}">Product</a>
                <a class="nav-link" href="{% url 'customer' %}">Customer</a>
                <a class="nav-link" href="{% url 'order' %}">Orders</a>
                <div class="d-flex flex-row">
                    <a class="nav-link" href="{% url 'cart' %}">Cart
                        <img id="cart-icon"
                             alt="cart-icon"
                             src="{% static 'ShopApp/images/cart.png' %}">
                        <span id="cart-total"><sup id="cart-total">{{ cartItems }}</sup></span>
                    </a>
                </div>
                {% comment %} <a class="nav-link disabled">Disabled</a> {% endcomment %}
            </div>
        </div>
    </div>
</nav>
