{% extends "base(extend)/main.html" %}
{% load static %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1>One Stop Shop for all Electronics</h1>
                <h5 class="hfive">Everyday Electronics</h5>
                <img src="{% static 'ShopApp/images/tech.png' %}"
                     class="tech-img"
                     alt="Tech-Photo">
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <div class="logDiv">
                    <form>
                        <div class="form-outline mb-4">
                            <input type="email"
                                   id="username"
                                   class="form-control form-control-lg"
                                   placeholder="email" />
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password"
                                   id="password"
                                   class="form-control form-control-lg"
                                   placeholder="password" />
                        </div>
                        <button type="button" class="btn btn-lg col-8 mb-4 sign">Sign in</button>
                        <h5 class="hfive mb-4">
                            Not a member? <a class="link-primary" href="#!">Register</a>
                        </h5>
                        <h5 class="hfive mb-4">Or</h5>
                        <button type="button" class="btn btn-lg col-8 mb-4 sign">shop as guest</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
