{% extends "base(extend)/main.html" %}
{% load static %}
{% block title %}
    Sign up
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        {% if form.errors %}<p class="error">Please correct the error{{ form.errors|pluralize }} below.</p>{% endif %}
        {% if messages %}
            {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 class="mb-2">One Stop Shop for all Electronics</h1>
                <h5 class="hfive mb-3">Everyday Electronics</h5>
                <img src="{% static 'ShopApp/images/tech.png' %} "
                     class="tech-img"
                     alt="Tech-Photo">
            </div>
            {% if request.user.is_anonymous %}
                <div class="col-lg-6 d-flex justify-content-center">
                    <div class="logDiv">
                        <form action="{% url 'register' %}" method="post">
                            {% csrf_token %}
                            {% comment %} {{form}} {% endcomment %}
                            <div class="form-outline mb-4">
                                <label for="exampleInputEmail1" class="form-label">Username:</label>
                                <input required
                                       type="text"
                                       id="username"
                                       name="username"
                                       class="form-control form-control-lg"
                                       placeholder="Username" />
                            </div>
                            <div class="form-outline mb-4">
                                <label for="exampleInputEmail1" class="form-label">Email:</label>
                                <input required
                                       type="email"
                                       id="email"
                                       name="email"
                                       class="form-control form-control-lg"
                                       placeholder="Email" />
                            </div>
                            <div class="form-outline mb-4">
                                <label for="exampleInputEmail1" class="form-label">Password:</label>
                                <input required
                                       type="password"
                                       id="password1"
                                       name="password1"
                                       class="form-control form-control-lg"
                                       placeholder="password" />
                            </div>
                            <div class="form-outline mb-4">
                                <label for="exampleInputEmail1" class="form-label">Confirm Password:</label>
                                <input required
                                       type="password"
                                       id="password2"
                                       name="password2"
                                       class="form-control form-control-lg"
                                       placeholder="Confirm password" />
                            </div>
                            <button type="submit" class="btn btn-lg col-8 mb-4 sign">Sign Up</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
